@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.page {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  font-family: Poppins;
  color: #4DD0E1;
  font-size: 20.308px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Align the body and the image*/
.textnimg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*Avatar for the homepage*/
#avt-img{
  width: 80%;
  height: 80%;
  position: relative;
  left: 20%;
}
/* For the body */
.container {
  margin: 3.5rem 2rem 1.5rem 2rem;
  max-width: 100%;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  font-family: Roboto;
  line-height: 1.6;
  overflow-y: auto;
}

.container2 {
  margin-top: 0.5rem;
  margin-left: 2rem;
  border-radius: 8px;
  font-family: Fira Code;
  line-height: 1.6;
  overflow-x: auto;
  white-space: pre;
}

.roundBracket {
  color: #fff;
  font-size: 24px;
}

.bracket {
  color: #CCC;
  font-size: 24px;
}

.bracket-left {
  margin-left: 2.5rem;
  color: #CCC;
  font-size: 24px;
}

.bracket-left2 {
  color: #CCC;
  font-size: 24px;
}

.keyword {
  color: #f92672;
  font-size: 24px;
}

.keyword2 {
  color: #f92672;
  font-size: 24px;
  margin-left: 1rem;
}

.identifier {
  color: #66d9ef;
  font-size: 24px;
}

.identifier2 {
  color: #50FA7B;
  font-size: 24px;
}

.property {
  color: #FFB74D;
  font-size: 18px;
  font-weight: 500;
}

.string {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

.number {
  color: #FD971F;
  font-size: 18px;
}

/*Curriculum button*/

.SButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 4rem;
  margin-top: -1rem;
  width: 190px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  background: rgba(255, 209, 102, 0.9);
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
  box-shadow: 0px 8px 0px rgba(255, 192, 46, 0.9);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.SButton:active {
  transform: translateY(7px);
  box-shadow: 0px 3px 0px rgba(255, 192, 46, 0.9);
}

.arrow {
  width: 18px;
  height: 18px;
  margin-left: 0.5rem;
}

/*The nav bar section*/
.nav {
  display: flex;
  flex: 0.7;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-left: 8rem;
  list-style: none;
  display: inline-flex;
  align-items: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  color: #FFD166;
}

.menu::before {
  content: "[";
  margin-right: 12px;
  color: #FFD166;
  font-size: 18px;
}

.menu::after {
  content: "]";
  margin-left: 12px;
  color: #FFD166;
  font-size: 18px;
}

.menu a:hover,
.menu a:focus {
  filter: brightness(1);
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 5px;
}

.menu a {
  margin: 0 20px;
  cursor: pointer;
}

/* Allign the btn and the nav on the same line*/
.navAndBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

