@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  font-family: Poppins;
  color: #4DD0E1;
  font-size: 20.308px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}